.contactsItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid rgb(213, 213, 213);
  background-color: #2f2f2fa1;
  border-radius: 8px;
  min-width: 260px;
}

.contactButtonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.contactInfo {
  display: flex;
  flex-direction: column;
}

.iconTextContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.button {
  margin: 0;
}