.form {
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 280px;
  border: 1px solid rgb(213, 213, 213);
  background-color: #2f2f2fa1;
  margin-bottom: 30px;
}

.labelInputContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.label {
  padding-bottom: 4px;
}

.input {
  font-family: 'Montserrat', sans-serif;
  border: 1px solid rgb(213, 213, 213);
  background-color: transparent;
  border-radius: 8px;
  padding: 8px;
  transition: border-color .25s ease;

  &:hover,
  &:focus {
    outline: none;
    border-color: #6979f8
  }
}

.error {
  color: red;
}